
<div *ngIf="selectedProduct">
  <mat-card class="tp-card">
    <mat-card-header>
      <mat-card-title>{{selectedProduct.name}}</mat-card-title>
    </mat-card-header>
    <img class = "product-image" mat-card-image [src] = selectedProduct.imagePath [alt] = selectedProduct.name>
    <mat-card-content>
      <p>
        {{selectedProduct.longDescription}}
      </p>
      <span class="bold">Price: {{selectedProduct.price}}Rs</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="addToCart(selectedProduct)">Add To Cart</button>
      <button mat-button mat-raised-button color="primary" routerLink="/products">See More Products</button>
    </mat-card-actions>
  </mat-card>
</div>
