<div class="no-items" *ngIf="items?.length == 0">
  <p class="bold">There are no products in the cart</p>
  <button mat-button mat-raised-button color="primary" routerLink="/products">Add Products</button>
</div>
<div *ngIf="items?.length > 0">
  <div *ngFor="let item of items">
    <mat-card class="tp-card">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
      <img class = "product-image" mat-card-image [src] = item.imagePath [alt] = item.name>
      <mat-card-content>
        <p>
          {{item.description}}
        </p>
        <span class="bold">Price: {{item.price}} Rs</span>
      </mat-card-content>
      <span>Quantity:
      <button (click)="decrease_quantity(item)">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <input type="text" class="quantity" value="{{item.quantity}}" (change)="countPrice(item)">
      <button (click)="increase_quantity(item)">
        <mat-icon>add_circle</mat-icon>
      </button>
        </span>
    </mat-card>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="placeOrder();">Place Order</button>
      <button mat-button mat-raised-button color="primary" (click)="cancelOrder();">Cancel Order</button>
    </mat-card-actions>
  </div>
  <span>Total price: {{price}}</span>
</div>


