<div class="confirmation">
  <div *ngIf="items?.length > 0">
    <p><b>The Product is successfully added</b></p>
    <section>
      <div class="example-button-row">
        <mat-card-actions>
          <button mat-button mat-raised-button color="primary" routerLink="/cart">Go To Cart</button>
          <button mat-button mat-raised-button color="primary" routerLink="/products">See More Products</button>
        </mat-card-actions>
      </div>
    </section>
  </div>
  <div *ngIf="items?.length == 0">
    <p class="bold">No Products in the cart</p>
    <button mat-button mat-raised-button color="primary" routerLink="/products">Add Products</button>
  </div>
</div>

